/* General Styles */
.mainPage {
  height: 100%;
  background-image: url("/pics/09n.jpg");
  background-size: cover;
  backdrop-filter: blur(2.5rem);
}

.mainPage * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Media Queries */
@media screen and (max-width: 48rem) {
  .mainPage {
    height: auto !important;
  }
}

@media screen and (max-width: 66.8125rem) {
  .mainPage {
    height: auto !important;
  }
}

@media screen and (max-width: 1210px) {
  .temperatureDisplay {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1069px) {
  .temperatureDisplay {
    font-size: 2rem !important;
    margin-left: 0 !important;
  }
  .iconValue {
    font-size: 1.4rem !important;
  }
  .iconLabel {
    font-size: 0.7rem !important;
  }
  .container {
    height: 60rem !important;
  }
}

@media screen and (max-width: 768px) {
  .cityData {
    padding: 2rem 0 0 1.5rem !important;
  }
  .sectionTitle {
    padding-left: 10px !important;
    font-size: 1.5rem !important;
    font-weight: 600;
  }
  .temperatureContainer,
  .iconContainer {
    min-width: 100%;
  }
  .temperatureContainer {
    flex-direction: column;
    border: none !important;
  }
  .iconContainer {
    border-top: 2px solid;
  }
  .mainDataContainer {
    flex-direction: column;
    border-bottom: 2px solid !important;
  }
  .temperatureDisplay {
    font-size: 3rem !important;
    margin-left: 0 !important;
  }
  .iconValue {
    font-size: 1.5rem !important;
  }
  .iconLabel {
    font-size: 0.8rem !important;
  }
  .dayContainer {
    width: 20% !important;
    height: 21rem !important;
  }
  .dayName {
    font-size: 1rem !important;
  }
  .dayContainer > img {
    width: 3rem !important;
  }
  .dayDataLabel {
    font-size: 0.95rem !important;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .dayDataValue {
    font-size: 0.9rem !important;
  }
  .container {
    height: 70rem !important;
  }
}

/* Container */
.container {
  margin: 1% 10% 0;
  height: 60rem;
  background: linear-gradient(46deg, black, #0a2e3f73);
  padding: 0;
  border-radius: 16px;
}

/* Main Data Container */
.mainDataContainer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid;
  padding-bottom: 2rem;
}

/* Section Titles */
.sectionTitle {
  padding-top: 1.5rem;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: sans-serif;
}

/* City Data */
.cityData {
  padding: 2rem 0 0 3rem;
}
.cityName {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto;
  color: white;
}
.cityDate {
  padding-top: 0;
  text-align: end;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: lightgray;
}

/* Temperature Container */
.temperatureContainer {
  text-align: center;
  display: flex;
  height: 15rem;
  width: 50%;
  flex-direction: row;
  border-right: 2px solid;
}
.temperatureDisplay {
  font-size: 4rem;
  font-weight: 700;
  font-family: Alexandria;
  margin-left: 5rem;
}
.temperatureDescription {
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: lightgray;
}
.temperatureContainer > img {
  width: 50%;
}

/* Icon Container */
.iconContainer {
  height: 15rem;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: min-content;
}
.iconValue {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: Alexandria;
}
.iconLabel {
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  color: lightgray;
}
.iconItem {
  width: 33.3%;
  height: 50%;
  flex-grow: 1;
  text-align: center;
  padding-top: 2rem;
}

/* Daily Weather Container */
.dailyWeatherContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px 10px 0 10px;
}
.dayContainer {
  width: 15rem;
  height: 22rem;
  flex-grow: 1;
  text-align: center;
  padding-top: 2rem;
  border: solid 1px rgb(83, 96, 98);
  color: rgb(255, 255, 255);
}
.dayName {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: sans-serif;
}
.dayContainer > img {
  width: 5rem;
}
.dayDataLabel {
  font-weight: 700;
  font-size: larger;
  font-family: sans-serif;
}
.dayDataValue {
  font-size: medium;
  font-family: sans-serif;
  color: lightgray;
}
