.main {
  height: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40rem;
  border-radius: 0.125rem;
  backdrop-filter: blur(2.5rem);
}
.searchbox {
  height: 2.5rem;
  width: 85%;
  padding-left: 0.9375rem;
  border-top: 0.125rem solid;
  border-left: 0.125rem solid;
  border-bottom: 0.125rem solid;
  border-right: 0;
  color: white;
  background: none;
  border-radius: 1.5625rem 0 0 1.5625rem;
  outline: none;
  font-size: 1.1rem;
}
.istclass {
  color: red;
  width: 85%;
}

.nd {
  flex: auto;
  border: 0.0625rem;
  border-radius: 0 1.5625rem 1.5625rem 0;
  cursor: pointer;
  background: none;
  color: white;
  border-top: 0.125rem solid;
  border-right: 0.125rem solid;
  border-bottom: 0.125rem solid;
  border-left: 0;
}
.nd:hover {
  background-color: #d52626;
}
.search>::placeholder{
  color: white;
  font-size: 0.9rem;
  opacity: 80%;
}
.search {
  color: red;
  display: flex;
  width: auto;
}
